.numberbutton{
    background-color:bisque;
    border: none;
    color: black;
    margin-bottom: 55px;
}

.numberbuttoncur{
    background-color: white;
    border: none;
    color: black;
    margin-bottom: 55px;
}

.body {
    
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding-left: 7%;
    padding-top: 40px;
}

.title {
    margin-top:10%;
    margin-left: 10%;
    margin-right: 10%;
}

.imagesize {
    padding-top: auto;
    width: 270px;
    height: auto;
    align-items: center;
    align-content: center;
}

.imgbox {
    height: 405px;
    align-items: center;
    align-content: center;
    align-self: center;
}

.cardbody {
    height: 158px;
}