/* 스케줄러 타이틀 정렬 ( [<] ___년___월 [>] ) */
.fc-header-toolbar > .fc-toolbar-chunk{
    display:flex;
    /* margin : 0 auto; */
    
}
.fc-dayGridMonth-button, .fc-listMonth-button {
  color : "black"
} 
/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}
/* 각 영역 텍스트 검정색, 밑줄제거 */
  .fc-col-header-cell-cushion /* [날짜헤더] 요일 */
, .fc-daygrid-day-number /* [날짜블록] 일 */
, .fc-list-day-text /* [리스트보기] 년 월 일 */
, .fc-list-day-side-text  /* [리스트보기] 요일 */
{
    color : black;
    text-decoration: none;
}

.fc-toolbar-title{
  font-size:  35px !important;
}

/* 캘린더 날짜 < > 버튼 css */
.fc-header-toolbar > .fc-toolbar-chunk > .fc-prev-button
, .fc-header-toolbar > .fc-toolbar-chunk > .fc-next-button{
  background-color: white;
  color:navy;
  border : none;
}
.fc-header-toolbar > .fc-toolbar-chunk > .fc-prev-button:hover
, .fc-header-toolbar > .fc-toolbar-chunk > .fc-next-button:hover{
  background-color: white !important;
  color:navy !important;
  border : none !important;
}
.fc-header-toolbar > .fc-toolbar-chunk > .fc-prev-button:focus
, .fc-header-toolbar > .fc-toolbar-chunk > .fc-next-button:focus{
  background-color: white !important;
  color : 1a252f !important;
  border : none !important;
}

/**/
.fc-header-toolbar > .fc-toolbar-chunk > .fc-dayGridMonth-button
, .fc-header-toolbar > .fc-toolbar-chunk > .fc-listMonth-button
, .fc-header-toolbar > .fc-toolbar-chunk > .fc-today-button
, .fc-header-toolbar > .fc-toolbar-chunk > .fc-challenge-button
{
  background-color: white;
  color:#1a252f;
  border : 2px solid #1a252f !important;
}
.fc-header-toolbar > .fc-toolbar-chunk > .fc-dayGridMonth-button:hover
, .fc-header-toolbar > .fc-toolbar-chunk > .fc-listMonth-button:hover
, .fc-header-toolbar > .fc-toolbar-chunk > .fc-today-button:hover
, .fc-header-toolbar > .fc-toolbar-chunk > .fc-challenge-button:hover
{
  background-color: #6C757D;
  color:white;
  border : 2px solid #6C757D !important;
}

