
.join_wrap{
    display: flex;
    justify-content: center;
    padding: 5%;
  }
  
.join_cl {
    border: 1mm solid skyblue;
    border-radius: 50px;
    width: 600px;
    padding: 5% 18%;
    text-align: justify;
  }

.CheckBtn{
      margin-left:2%;
      margin-top: -4px;
  }
  
.inputStyle{
      width:250px;
  }
    
.joinus{
    padding: 3% 0%;
  }
  
.forget_btn{
  display: flex;
  justify-content: space-between;
}