.screen-wrap{
    margin: 1% 15%;
    width: 70%;
  }
 .screen-header{
    display: flex;
    justify-content: space-between;
  }
.mypage_button{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px
}
.mypage_btn{
  display: flex;
  justify-content: space-evenly;
}
.profile-wrap {
  display: flex;
  justify-content: center;
  margin: 0 30px 30px 30px;
  height: 130px;

}
.profile{
  margin: 0 auto;
  width: 130px;
  height: 130px;
  /* border: 15px solid rgb(163, 151, 198); */
  border-radius: 50%;
}
.content-wrap{
  margin-bottom: 10%;
}