/* 스케줄러 타이틀 정렬 ( [<] ___년___월 [>] ) */
div.fc-toolbar-chunk{
    display:flex;
}

/* 각 영역 텍스트 검정색, 밑줄제거 */
  .fc-col-header-cell-cushion /* [날짜헤더] 요일 */
, .fc-daygrid-day-number /* [날짜블록] 일 */
, .fc-list-day-text /* [리스트보기] 년 월 일 */
, .fc-list-day-side-text  /* [리스트보기] 요일 */
{
    color : black;
    text-decoration: none;
}